.job-type-5,
.location-type-1 {
	background: url('patterns/icon-pane-orange.png');
	background-repeat: no-repeat;
}
.job-type-6,
.location-type-2 {
	background: url('patterns/icon-pane-darkblue.png');
	background-repeat: no-repeat;
}
.location-type-3 {
	background: url('patterns/icon-pane-green.png');
	background-repeat: no-repeat;
}
.location-type-4 {
	background: url('patterns/icon-pane-blue.png');
	background-repeat: no-repeat;
}

.location-wrapper {
	background-color: #ffffff;
	border: 1px solid #e7eaec;
}

.location-icon {
    color: white;
    position: absolute;
    bottom: 0;
}

.right-align {
	text-align : right;
}

.mapping-wrapper {
	background-color: #ffffff;
	border: 1px solid #e7eaec;
}

.mapping-wrapper:hover {
	background-color: #eee;
}