<div class="modal inmodal" id="add-task-modal" tabindex="-1" role="dialog" aria-hidden="true"
th:fragment="add-task-modal">
	<script type="text/javascript">
	function loadTaskTypeForm() {
		$('#taskTypeLoader').show(300);
		var crtTaskType = $('[name="task-type"]').val();
		if(crtTaskType == -1){
			$('#taskTypeLoader').hide(300);
			$('#taskTypeDefinition').hide(600);
		}else{
			$.ajax({
				url: "loadTaskTypeForm.html",
				data : { taskType : crtTaskType }
			}).done(function(result) {
			    $('#taskTypeDefinition').html( result );
				$('#taskTypeLoader').hide(300);
				$('#taskTypeDefinition').show(600);
			});
		}
	}
	
	</script>
	<div class="modal-dialog">
		<div class="modal-content animated fadeInDown">
			<form th:action="@{/jobs/addTask}" method="POST">
				<input type="hidden" name="jobId" id="newTaskJobId"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only" th:text="#{modal.close}">Close</span>
					</button>
					<i class="fa fa-laptop modal-icon"></i>
					<h4 class="modal-title" th:text="#{task.create-new}">Create a new task</h4>
				</div>
				<div class="modal-body">
					<div th:unless="${addTaskErrors == null || addTaskErrors.isEmpty()}" class="error-container">
						<div th:each="error : ${addTaskErrors}" fm:text="${error}" class="alert alert-danger" />
					</div>
					<div class="row">
						<div class="col-sm-6" th:text="#{task.choose-type}">Choose a task type:</div>
						<div class="col-sm-6">
							<select onchange="loadTaskTypeForm()" class="form-control" name="task-type">
								<option value="-1" th:text="#{list.no-value-selected}">-- No value selected --</option>
								<option th:each="taskType : ${taskTypes}" th:text="#{'reference.' + ${taskType}}" th:value="${taskType}">Task types</option>
							</select>
						</div>
					</div>
					<div id="taskTypeLoader" class="ibox-content" style="display:none">
						<div class="sk-spinner sk-spinner-rotating-plane"></div>
					</div>
					<div id="taskTypeDefinition" style="display : none" class="ibox m-t">
						
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" th:value="#{task.addTask}" />
					<button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{modal.close}">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal inmodal" id="remove-task-modal" th:fragment="remove-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content animated fadeInDown">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only" th:text="#{modal.close}">Close</span>
				</button>
				<i class="fa fa-laptop modal-icon"></i>
				<h4 class="modal-title" th:text="#{task.label.remove-task}">Remove task</h4>
			</div>
			<div class="modal-body">
				<p th:text="#{task.remove-confirmation}">
					Are you sure you want to remove this task from the job?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="removeTask()" th:text="#{task.label.remove-task}">Remove task</button>
				<button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{modal.close}">Close</button>
			</div>
		</div>
	</div>
</div>
