<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title th:text="#{home.title}">mappingcreator :: Home</title>
<th:block th:include="fragments/scriptsAndStyle :: genericScriptsAndStyle" />
<script type="text/javascript">
    $(document).ready(function() {
        $('.sameHeightLocations').matchHeight();
        $('.sameHeightJobs').matchHeight();
    });
</script>
</head>
<body>
    <div id="wrapper">
        <div th:replace="fragments/navigation :: navigation-main"></div>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div th:replace="fragments/navigation :: navigation-top"></div>
            <div class="row  border-bottom white-bg dashboard-header">
                <div class="col-sm-10">
                    <h2 th:text="#{home.label.home}">Home</h2>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 m-t">
                    <div class="wrapper white-bg wrapper-content animated fadeInRight">
                        <form th:action="@{/mapping/generate}" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-3 m-t right-align" th:text="#{mapping.field.url}">Mapping URL:</div>
                                <div class="col-sm-9 m-t">
                                    <input type="text" name="mapping-url" class="form-control" />
                                    <br />
                                    E.g. : <a href="http://www.edifactory.de/msglist.D96A?m=ORDERS" target="_blank">http://www.edifactory.de/msglist.D96A?m=ORDERS</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 m-t right-align" th:text="#{mapping.field.name}">Mapping name:</div>
                                <div class="col-sm-9 m-t">
                                    <input type="text" name="mapping-name" class="form-control" />
                                    <br />
                                    E.g. : 5160
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 m-t right-align" th:text="#{mapping.field.output.dict.name}">Output dictionary name:</div>
                                <div class="col-sm-9 m-t">
                                    <input type="text" name="output-dictionary-name" class="form-control" />
                                    <br />
                                    E.g. : edifact.01b.invoicGEXdelh
                                </div>
                            </div>
                            <div class="row">
                                <h3 class="m-l" th:text="#{home.label.output.dict.info}">Output dictionary information</h3>
                                <br />
                            </div>
                            <div class="row">
                                <div class="col-sm-6 m-t">
                                    <div class="row">
                                        <div class="col-sm-2 m-t" th:text="#{mapping.field.output.dict.norm}">Norm</div>
                                        <div class="col-sm-10 m-t">
                                            <input type="text" name="output-dictionary-norm" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 m-t" th:text="#{mapping.field.output.dict.identification}">Identification</div>
                                        <div class="col-sm-10 m-t">
                                            <input type="text" name="output-dictionary-identification" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 m-t" th:text="#{mapping.field.output.dict.version}">Version</div>
                                        <div class="col-sm-10 m-t">
                                            <input type="text" name="output-dictionary-version" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 m-t" th:text="#{mapping.field.output.dict.release}">Release</div>
                                        <div class="col-sm-10 m-t">
                                            <input type="text" name="output-dictionary-release" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 m-t" th:text="#{mapping.field.output.dict.agency}">Agency</div>
                                        <div class="col-sm-10 m-t">
                                            <input type="text" name="output-dictionary-agency" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 m-t" th:text="#{mapping.field.output.dict.association}">Association</div>
                                        <div class="col-sm-10 m-t">
                                            <input type="text" name="output-dictionary-association" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 m-t" th:text="#{mapping.field.output.dict.description}">Description</div>
                                        <div class="col-sm-10 m-t">
                                            <input type="text" name="output-dictionary-description" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-t">
                                    <img class="img-responsive" style="border: 1px black solid" th:src="@{/resources/img/output_message_info.png}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 m-t right-align" th:text="#{mapping.field.xls}">XLS file:</div>
                                <div class="col-sm-9 m-t">
                                    <input type="file" name="xlsFile" accept=".xls" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 m-t right-align" th:text="#{mapping.field.input.dictionary}">Input dictionary (HINT):</div>
                                <div class="col-sm-9 m-t">
                                    <input type="file" name="asciiDictionary" accept=".sql" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 m-t" ></div>
                                <div class="col-sm-9 m-t">
                                    <input class="btn btn-primary" type="submit" th:value="#{home.generate}" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
