<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title th:text="#{home.title}">mappingcreator :: Home</title>
<th:block th:include="fragments/scriptsAndStyle :: genericScriptsAndStyle" />
</head>

<body>
	<div id="wrapper">
		<div th:replace="fragments/navigation :: navigation-main" />

		<div id="page-wrapper" class="gray-bg dashbard-1">
			<div th:replace="fragments/navigation :: navigation-top" />
			<div class="row  border-bottom white-bg dashboard-header"></div>
		</div>
	</div>
</body>
</html>
