<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title th:text="#{home.title}">mappingcreator :: Home</title>
<th:block th:include="fragments/scriptsAndStyle :: genericScriptsAndStyle" />
<script type="text/javascript">
    $(document).ready(function() {
        $('.sameHeightMappings').matchHeight();
    });
</script>
</head>
<body>
    <div id="wrapper">
        <div th:replace="fragments/navigation :: navigation-main"></div>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div th:replace="fragments/navigation :: navigation-top"></div>
            <div class="row  border-bottom white-bg dashboard-header">
                <div class="col-sm-10">
                    <h2 th:text="#{home.label.home}">Home</h2>
                    <br />
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary" th:href="@{/mapping/new}" th:text="#{mapping.new}"></a>
                </div>
            </div>
            <div class="row  border-bottom white-bg dashboard-header">
                <div th:replace="fragments/errors :: error-displayer" />
            </div>
            
            <div class="container-fluid m-t wrapper white-bg wrapper-content animated fadeInRight">
                <div th:each="mapping : ${mappings}" class="col-lg-4 m-b">
                    <div class="location-wrapper">
                        <a th:href="@{/mapping/view(mappingId=${mapping.id})}">
                            <div class="col-sm-4 sameHeightMappings"></div>
                            <div class="col-sm-8 sameHeightMappings" style="padding: 20px">
                                <h3>
                                    <strong th:text="${mapping.directoryName}">Mapping name</strong>
                                </h3>
                                <br />
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
