<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>INSPINIA | Login</title>

<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/resources/font-awesome/css/font-awesome.css}"
	rel="stylesheet" />

<link th:href="@{/resources/css/animate.css}" rel="stylesheet" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet" />

</head>

<body class="gray-bg">
	<div class="middle-box text-center loginscreen animated fadeInDown">
		<div>
			<div>

				<h1 class="logo-name">MC</h1>

			</div>
			<h3>Welcome to mappingcreator</h3>
			<p>
				
			</p>
			<div th:unless="${errors == null || errors.isEmpty()}" class="error-container">
				<div th:each="error : ${errors}" fm:text="${error}" class="alert alert-danger"/>
			</div>
			<form class="m-t" role="form" th:action="@{/login/doLogin}"
				method="POST">
				<div class="form-group">
					<input type="text" name="uname" class="form-control"
						placeholder="Username" required="" />
				</div>
				<div class="form-group">
					<input type="password" name="upass" class="form-control"
						placeholder="Password" required="" />
				</div>
				<button type="submit" class="btn btn-primary block full-width m-b">Login</button>

				<a href="#">
					<small>Forgot password?</small>
				</a>
			</form>
		</div>
	</div>

	<!-- Mainly scripts -->
	<script th:href="@{/resources/js/jquery-2.1.1.js}"></script>
	<script th:href="@{/resources/js/bootstrap.min.js}"></script>

</body>

</html>
