<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title th:text="#{home.title}">mappingcreator :: Home</title>
<th:block th:include="fragments/scriptsAndStyle :: genericScriptsAndStyle" />
<script type="text/javascript">
    $(document).ready(function() {
        $('.sameHeightLocations').matchHeight();
        $('.sameHeightJobs').matchHeight();
    });
    
    function confirmDelete(){
        var acceptDelete = confirm("Are you sure you want to delete this mapping?", "Yes", "Cancel");
        
        if(acceptDelete){
            $('#deleteMappingForm').submit();
        }
    }
</script>
</head>
<body>
    <div id="wrapper">
        <div th:replace="fragments/navigation :: navigation-main"></div>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div th:replace="fragments/navigation :: navigation-top"></div>
            <div class="row  border-bottom white-bg dashboard-header">
                <div class="col-sm-10">
                    <h2>
                        <span th:text="#{mapping.label.view}">View Mapping</span> <span th:text="${mapping.directoryName}"></span>
                    </h2>
                    <br />
                </div>
                <div class="col-sm-2">
                    <input type="button" onclick="confirmDelete()" class="btn btn-primary" th:value="#{mapping.delete}" />
                    <form th:action="@{/mapping/delete}" method="POST" id="deleteMappingForm">
                        <input type="hidden" name="mappingId" th:value="${mapping.id}" />
                    </form>
                </div>
            </div>
            <div class="row">
                <div th:replace="fragments/errors :: error-displayer" />
            </div>
            <div class="row">
                <div class="col-sm-12 m-t">
                    <div class="wrapper white-bg wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-sm-5">
                                <h3 th:text="#{mapping.files.original}">Original files</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 m-t right-align" th:text="#{home.label.xls.original}">Original XLS</div>
                            <div class="col-sm-9 m-t">
                                <a th:href="@{'/static/' + ${mapping.directoryName} + '/' + ${mapping.xlsName}}" target="_blank" th:text="#{home.label.xls}">XLS</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 m-t right-align" th:text="#{mapping.field.input.dictionary}">Input dictionary (HINT)</div>
                            <div class="col-sm-9 m-t">
                                <a th:href="@{'/static/' + ${mapping.directoryName} + '/' + ${mapping.dictionaryName}}" target="_blank" th:text="#{mapping.label.sql}">SQL</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <h3 th:text="#{mapping.files.generated}">Generated files</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 m-t right-align" th:text="#{home.label.diagram}">Diagram</div>
                            <div class="col-sm-9 m-t">
                                <a th:href="@{'/static/' + ${mapping.directoryName} + '/' + ${mapping.directoryName} + '.html'}" target="_blank" th:text="#{home.label.diagram}">Diagram URL</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 m-t right-align" th:text="#{home.label.xml}">XML</div>
                            <div class="col-sm-9 m-t">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <a th:href="@{'/static/' + ${mapping.directoryName} + '/' + ${mapping.directoryName} + '.xml'}" target="_blank" th:text="#{home.label.xml}">XML</a>
                                    </div>
                                    <form th:action="@{/mapping/changeXML}" method="POST" enctype="multipart/form-data">
                                        <div class="col-sm-3">
                                            <input type="hidden" name="mappingId" th:value="${mapping.id}" />
                                            <input type="file" name="xmlFile" accept=".xml" class="form-control" />
                                        </div>
                                        <div class="col-sm-7">
                                            <input class="btn btn-primary" type="submit" th:value="#{home.generate}" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 m-t right-align" th:text="#{home.label.xml.final}">Final XML</div>
                            <div class="col-sm-9 m-t">
                                <a th:href="@{'/static/' + ${mapping.directoryName} + '/' + ${mapping.directoryName} + '.xml-modified.xml'}" target="_blank" th:text="#{home.label.xml.final}">Final XML</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 m-t right-align" th:text="#{home.label.xls.modified}">Modified XLS</div>
                            <div class="col-sm-9 m-t">
                                <a th:href="@{'/static/' + ${mapping.directoryName} + '/' + ${mapping.xlsName} + '-modified.xls'}" target="_blank" th:text="#{home.label.xls}">XLS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
