<li th:fragment="menuItem">
	<a th:attrappend="href=${item.getLink() != null} ? @{${item.getLink()}}">
		<i class="fa" th:classappend="${item.getIcon() != null } ? 'fa-' + ${item.getIcon()} : ''"></i>
		<span class="nav-label" th:text="#{${item.getLabel()}}">Menu label</span>
		<span th:if="${item.getChildItems() != null}" class="fa arrow"></span>
	</a>
	<ul th:if="${item.getChildItems() != null}" class="nav nav-second-level">
		<th:block th:each="childItem : ${item.getChildItems()}">
			<th:block th:insert="fragments/menu/menuItem" th:with="item = ${childItem}" />
		</th:block>
	</ul>
</li>