<nav class="navbar-default navbar-static-side" role="navigation"
	th:fragment="navigation-main">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span>
						<img alt="image" class="img-circle"
							th:src="@{/resources/img/user_avatar.png}" />
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear">
							<span class="block m-t-xs">
								<!-- <strong th:text="${session.USER.name}" class="font-bold">Username</strong> -->
							</span>
							<!-- <span class="text-muted text-xs block">
								User role
								<b class="caret"></b>
							</span> -->
						</span>
					</a>
					<!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li>
							<a href="profile.html">Profile</a>
						</li>
						<li>
							<a href="contacts.html">Contacts</a>
						</li>
						<li>
							<a href="mailbox.html">Mailbox</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="login.html">Logout</a>
						</li>
					</ul> -->
				</div>
				<div class="logo-element">MC</div>
			</li>
			<th:block th:each="item : ${session.appMenu.menuItems}">
				<th:block th:insert="fragments/menu/menuItem"
					th:with="item = ${item}" />
			</th:block>
		</ul>
	</div>
</nav>

<div class="row border-bottom" th:fragment="navigation-top">
	<nav class="navbar navbar-static-top" role="navigation"
		style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
				href="#">
				<i class="fa fa-bars"></i>
			</a>
			<form role="search" class="navbar-form-custom"
				action="search_results.html">
				<div class="form-group">
					<input type="text" placeholder="Search for something..."
						class="form-control" name="top-search" id="top-search" />
				</div>
			</form>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<span class="m-r-sm text-muted welcome-message" th:text="#{navigation.welcome}">Welcome to
					mappingcreator.</span>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle count-info" data-toggle="dropdown"
					href="#">
					<i class="fa fa-envelope"></i>
				</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle count-info" data-toggle="dropdown"
					href="#">
					<i class="fa fa-bell"></i>
				</a>
			</li>


			<li>
				<a th:href="@{/logout}">
					<i class="fa fa-sign-out"></i>
					Log out
				</a>
			</li>
			<li>
				<a class="right-sidebar-toggle">
					<i class="fa fa-tasks"></i>
				</a>
			</li>
		</ul>

	</nav>
</div>