<th:block th:fragment="genericScriptsAndStyle">
	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/font-awesome/css/font-awesome.css}" rel="stylesheet" />

	<!-- Toastr style -->
	<link th:href="@{/resources/css/plugins/toastr/toastr.min.css}" rel="stylesheet" />

	<!-- Gritter -->
	<link th:href="@{/resources/js/plugins/gritter/jquery.gritter.css}" rel="stylesheet" />

	<link th:href="@{/resources/css/animate.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/style.css}" rel="stylesheet" />
	<!-- Mainly scripts -->
	<script th:src="@{/resources/js/jquery-2.1.1.js}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

	<!-- Flot -->
	<script th:src="@{/resources/js/plugins/flot/jquery.flot.js}"></script>
	<script th:src="@{/resources/js/plugins/flot/jquery.flot.tooltip.min.js}"></script>
	<script th:src="@{/resources/js/plugins/flot/jquery.flot.spline.js}"></script>
	<script th:src="@{/resources/js/plugins/flot/jquery.flot.resize.js}"></script>
	<script th:src="@{/resources/js/plugins/flot/jquery.flot.pie.js}"></script>

	<!-- Peity -->
	<script th:src="@{/resources/js/plugins/peity/jquery.peity.min.js}"></script>
	<script th:src="@{/resources/js/demo/peity-demo.js}"></script>

	<!-- Custom and plugin javascript -->
	<script th:src="@{/resources/js/inspinia.js}"></script>
	<script th:src="@{/resources/js/plugins/pace/pace.min.js}"></script>

	<!-- jQuery UI -->
	<script th:src="@{/resources/js/plugins/jquery-ui/jquery-ui.min.js}"></script>

	<!-- GITTER -->
	<script th:src="@{/resources/js/plugins/gritter/jquery.gritter.min.js}"></script>

	<!-- Sparkline -->
	<script th:src="@{/resources/js/plugins/sparkline/jquery.sparkline.min.js}"></script>

	<!-- Sparkline demo data  -->
	<script th:src="@{/resources/js/demo/sparkline-demo.js}"></script>

	<!-- Toastr -->
	<script th:src="@{/resources/js/plugins/toastr/toastr.min.js}"></script>

	<!-- Match Height -->
	<script th:src="@{/resources/js/jquery.matchHeight-min.js}"></script>

	<!-- Application style -->
	<link th:href="@{/resources/css/app-style.css}" rel="stylesheet" />

	<!-- Clock picker -->
	<link th:href="@{/resources/css/plugins/clockpicker/clockpicker.css}" rel="stylesheet">
	<script th:src="@{/resources/js/plugins/clockpicker/clockpicker.js}"></script>

	<!-- Date picker -->
	<link th:href="@{/resources/css/plugins/datapicker/datepicker3.css}" rel="stylesheet">
	<script th:src="@{/resources/js/plugins/datapicker/bootstrap-datepicker.js}"></script>

	<!-- iCheck -->
	<script th:src="@{/resources/js/plugins/iCheck/icheck.min.js}"></script>
	<link th:href="@{/resources/css/plugins/iCheck/custom.css}" rel="stylesheet">
	
	<!-- ChartJS-->
    <script th:src="@{/resources/js/plugins/chartJs/Chart.min.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.clockpicker').clockpicker();

			$('.input-group.date').datepicker({
				todayBtn : "linked",
				keyboardNavigation : false,
				forceParse : false,
				calendarWeeks : true,
				autoclose : true,
				format: 'dd/mm/yyyy'
			});
			
			$('.i-checks').iCheck({
				checkboxClass : 'icheckbox_square-green',
				radioClass : 'iradio_square-green',
			});
		});
	</script>
</th:block>

<th:block th:fragment="postPageDeclarationScripts">
	<!-- Tooltips -->
	<script th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
</th:block>