<div id="moveFileTask" class="ibox-content">
	<div class="row m-b">
		<div class="col-sm-6">
			<div th:text="#{task.sourceLocation}" class="pull-right">Source location</div>
			<div class="clearfix"/>
		</div>
		<div class="col-sm-6">
			<select name="sourceLocation" class="form-control">
				<option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}">Location name</option>
			</select>
		</div>
	</div>
	<div class="row m-b">
		<div class="col-sm-6">
			<div th:text="#{task.destinationLocation}" class="pull-right">Destination location</div>
			<div class="clearfix"/>
		</div>
		<div class="col-sm-6">
			<select name="destinationLocation" class="form-control">
				<option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}">Location name</option>
			</select>
		</div>
	</div>
	<div class="row m-b">
		<div class="col-sm-6">
			<div th:text="#{task.search-subdirs}" class="pull-right">Search sub-directories</div>
			<div class="clearfix"/>
		</div>
		<div class="col-sm-6">
			<input type="checkbox" class="i-checks" name="search-subdirs" onclick="toggleDirMirroring">
		</div>
	</div>
	<div class="row m-b">
		<div class="col-sm-6">
			<div th:text="#{task.mirror-subdirs}" class="pull-right">Mirror sub-directory structure</div>
			<div class="clearfix"/>
		</div>
		<div class="col-sm-6">
			<input type="checkbox" class="i-checks" name="mirror-subdirs" onclick="toggleDirMirroring">
		</div>
	</div>
	<script type="text/javascript">
	$('.i-checks').iCheck({
		checkboxClass : 'icheckbox_square-green',
		radioClass : 'iradio_square-green',
	});
	</script>

</div>